{% extends "base/base_admin.html" %}

{% block title %}Editar Redes Socales{% endblock title %}

{% block scripts %}
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}" />
{% endblock scripts %}

{% block content %}
  <div class="collection">
    <a href="{% url 'client:edit' %}" class="collection-item">Perfil</a>
    <a href="{% url 'client:edit_password' %}" class="collection-item">Password</a>
    <a href="{% url 'client:edit_social' %}" class="collection-item active">Redes Sociales</a>
  </div>
  <div class="class_container_form">
    <form action="" method="post">{% csrf_token%}
      {% include "includes/_forms.html" with form=form only %}
      <input class="btn #9E9E9E grey" type="submit" value="actualizar">
    </form>
  </div>
{% endblock content %}
{% block footer %}

{% endblock footer %}
