{% extends "base/base_admin.html" %}
{% block title %}
  Editar Usuario
{% endblock title %}

{% block scripts %}
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}" />
{% endblock scripts %}

{% block subtitle %}
  Editar Usuario
{% endblock subtitle %}


{% block content %}
<div class="collection">
  <a href="{% url 'client:edit' %}" class="collection-item ">Perfil</a>
  <a href="{% url 'client:edit_password' %}" class="collection-item active">Password</a>
  <a href="{% url 'client:edit_social' %}" class="collection-item">Redes Sociales</a>
</div>
<div class="class_container_form">
  <form action="" method="post">{% csrf_token%}
    {% include "includes/_forms.html" with form=form only %}
    <input class="btn #9E9E9E grey" type="submit" value="cambiar">
  </form>
</div>
{% endblock content %}
{% block footer %}

{% endblock footer %}
